/* TermsAndConditions.css */

/* Container styling */
.terms-container {
  max-width: 800px;
   margin: 0 auto;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.terms-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Section styling */
.terms-section {
  margin-bottom: 20px;
}

/* Section heading styling */
.terms-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Section content styling */
.terms-section p {
  margin-bottom: 15px;
}